<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ust.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/siklab"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/siklab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="Siklab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="" />
        <activity
            android:name=".LessonMain"
            android:label="LESSONS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LessonOne"
            android:label="LESSON 1: Understanding the Nature of Fire"
            android:parentActivityName=".LessonMain" />
        <activity
            android:name=".LessonTwo"
            android:label="LESSON 2: Stages of Fire"
            android:parentActivityName=".LessonMain" />
        <activity
            android:name=".LessonThree"
            android:label="LESSON 3: Classes of Fire and Methods of Heat Transfer"
            android:parentActivityName=".LessonMain" />
        <activity
            android:name=".LessonFour"
            android:label="LESSON 4: Fire Safety Tips"
            android:parentActivityName=".LessonMain" />
        <activity
            android:name=".LessonFive"
            android:label="LESSON 5: Fire Extinguishers"
            android:parentActivityName=".LessonMain" />
        <activity
            android:name=".LessonSix"
            android:label="LESSON 6: Fire Prevention"
            android:parentActivityName=".LessonMain" />
        <activity
            android:name=".LessonSeven"
            android:label="LESSON 7: Fire Safety First Aid"
            android:parentActivityName=".LessonMain" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ProgressMain"
            android:label="PROGRESS"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuizMain"
            android:label="QUIZZES"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuizOne"
            android:label="QUIZ 1: Understanding the Nature of Fire"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizTwo"
            android:label="QUIZ 2: Stages of Fire"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizThree"
            android:label="QUIZ 3: Classes of Fire and Methods of Heat Transfer"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizFour"
            android:label="QUIZ 4: Fire Safety Tips"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizFive"
            android:label="QUIZ 5: Fire Extinguishers"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizSix"
            android:label="QUIZ 6: Fire Prevention"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizSeven"
            android:label="QUIZ 7: Fire Safety First Aid"
            android:parentActivityName=".QuizMain" />
        <activity
            android:name=".QuizOne2"
            android:label="QUIZ 1: Understanding the Nature of Fire"
            android:parentActivityName=".QuizOne" />
        <activity
            android:name=".QuizOne3"
            android:label="QUIZ 1: Understanding the Nature of Fire"
            android:parentActivityName=".QuizOne2" />

        <activity android:name=".QuizOne4"
            android:label="QUIZ 1: Understanding the Nature of Fire"
            android:parentActivityName=".QuizOne3" />

        <activity android:name=".QuizOne5"
            android:label="QUIZ 1: Understanding the Nature of Fire"
            android:parentActivityName=".QuizOne4" ></activity>
    </application>

</manifest>